*{
    /* Essa box serve para resetar as cfgs do html */
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}


.flags{

    display: flex;
    margin-left: -80vw; 
    gap: 10px;

}

.imgFlag{
    
    width: 32px;
    height: 18px;
    
}

.Header{
    width: auto;
    height: auto;
    background-color:  rgb(0, 0, 0);

    border: 2px solid  rgb(220, 235, 89); /*borda*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mainPhoto{
    margin-top: 30px;
    width: 115px;
    height: 145px;
    
}

.name{
    color: aquamarine
}

.links{
    list-style-type: none;
    text-decoration: none;
    color: red;
}

.imagesSites{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.imgLink{
    width: 50px;
    height: 50px;
    margin-top: auto;
}



.main{
    width: auto;
    height: auto;
    background-color: rgb(174,1,0);
    border: 2px solid  rgb(220, 235, 89); /*borda*/


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.txt{
    
    color: rgb(255, 255, 255);
    font-family: 'Modern Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10vh;
    margin-right: 10vh;
}

.botao{

    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 128px;
    height: 72px;
}

.callingCard{

    width: 128px;
    height: 72px;

    display: block;
    margin-left: auto;
    margin-right: auto ;
    
    
}

.footer{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);

    border: 2px solid rgb(220, 235, 89); /*borda*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

